<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.0.0" moduleJsonSerializerType="Resolve">

  <assemblies>
    <add assembly="ScottReed.Optimizely.Forms.DynamicEmailRouting" />
  </assemblies>

  <dojo>
    <packages>
      <add name="dynamic-email-routing" location="ClientResources/dynamic-email-routing" />
    </packages>
  </dojo>

</module>
